<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    @Html.Partial("_Head")
</head>
<body class="portfolio">
        <div class="header header--portfolio" id="js-header">
            @Html.Partial("_HeaderPortfolio")
        </div>
        @RenderBody()
    <!-- Scripts -->
    @Scripts.Render("~/bundles/website-js")
    @RenderSection("scripts", required: false)
</body>
</html>
